$font-poppins: "Poppins", sans-serif;

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

* {
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@mixin formItem {
  padding: 3px 15px;
  min-width: 80px;
  border: 1px solid rgba(99, 99, 99, 0.05);
  height: 28px !important;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.tableContainer {
  max-height: calc(100vh - 174px);
  overflow-y: auto;
  position: relative;
  table {
    border-collapse: inherit;

    thead th:first-child,
    tbody td:first-child,
    tfoot td:first-child {
      width: 70px !important;
      min-width: 70px !important;
      max-width: 70px !important;
    }

    thead {
      tr {
        th {
          height: auto;
          font-size: 11px;
          font-weight: 500 !important;
          padding: 8px 10px;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }

    tbody {
      tr {
        td {
          height: auto;
          font-size: 13px;
          font-weight: 500;
          padding: 5px 10px;
          border-bottom: 1px solid #edf2f7;
        }
      }
    }

    thead,
    tfoot {
      position: sticky;
      background-color: #fff;
      top: 0;
      z-index: 1;
    }

    tfoot {
      bottom: -0.5px;
      z-index: 99;
      td {
        height: auto;
        font-size: 14px;
        padding: 4px 10px;
        border: 1px solid #edf2f7;
        background: #eff1fa;
        font-weight: 600 !important;
        &:not(:last-child) {
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
        }
      }
    }
    tbody {
      max-height: 300px;
      overflow-y: auto;
    }
  }
}
